Print number from 1 to 5 uing a while loop.

In [1]:
n = 6
i = 1
while i < n:
    print(i)
    i += 1

1
2
3
4
5

Calculate the sum of numbers from 1 to 10 uing a while loop.

In [3]:
a =0
i = 1

while i <= 10:
    a += i
    i += 1
    
print(f'the sum of numbers from 1 to 10 is: {a}')

the sum of numbers from 1 to 10 is: 55

Calculate the factorial of a number uing a for loop.

In [5]:
a = 6
factorial = 1

if a < 0:
    print("factorial for negative no. doesn't exist")

elif a == 0:
          print("factorail for 0 is 1")
else:
    for i in range(1, a + 1):
          factorial *= i
print(f"the factorial of {a} is {factorial}")

the factorial of 6 is 720

Count the number of vowels in a string using a for loop.

In [13]:
def vowels_string(string):
    vowels = 'AaEeIiOoUu'
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

input_string = ('India, the upcoming superpower')
print(vowels_string(input_string))

11

Print a pattern using nested loop.

In [17]:
row = 1
while row <= 5:
    col = 1
    while col <= row:
        print("&", end = "" )
        col += 1
    print()
    row += 1

&
&&
&&&
&&&&
&&&&&

Generate a multiplication table using nested loop.

In [24]:
for p in range (1,10):
    print("  ", p, end = ' ')
    print()
for row in range(1, 10):
    for col in range(1, 10):
        num = row * col
        if num < 10:
            empty = "  "
        else:
            if num < 100:
                empty = " "
        print(empty, num, end = ' ')
    print()

   1
   2
   3
   4
   5
   6
   7
   8
   9
   1    2    3    4    5    6    7    8    9
   2    4    6    8   10   12   14   16   18
   3    6    9   12   15   18   21   24   27
   4    8   12   16   20   24   28   32   36
   5   10   15   20   25   30   35   40   45
   6   12   18   24   30   36   42   48   54
   7   14   21   28   35   42   49   56   63
   8   16   24   32   40   48   56   64   72
   9   18   27   36   45   54   63   72   81